table tr {
    display: flex;
    justify-content: space-between;
}

table thead tr th {
    width: 100px;
    background: rgba(40, 40, 40, 0.03);
}

table tbody tr {
    /* gap: 0px 10px; */
    padding: 5px 0px;

}

table tbody tr td {
    width: 100px;
    padding: 10px 2px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background: rgba(145, 13, 121, 0.06);
    border-radius: 20px;

}


table tbody tr td:first-child {
    flex: 1;
}

@media screen and (max-width: 480px) {
    table tbody tr td {
        width: 10px;
        background-color: transparent;
    }

    table thead tr th {
        width: 80px;
    }

    table tbody tr td:first-child {
        flex: 0;
    }
}